.navLinks, .tracking-widest {
    letter-spacing: 3px !important;
}

.newProduct {
    letter-spacing: 10px !important;
}

.border-b-gray-500 {
    border-bottom: solid 0.5px rgba(107, 114, 128) !important;
}

/* Home Page */

/* Hero Section */

#heroSection {
    height: 85vh;
}

@media (min-width: 640px) and (max-width: 1020px) {
    #heroSection {
        background-image: url("assets/headphones/headphonesHero2.png") !important;
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat;
        height: 80vh;
    }
}

@media (max-width : 640px) {
    #heroSection {
        background-image: url("assets/headphones/headphonesHero2.png") !important;
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
        height: 80vh;
    }
}
/*card Count icon*/

.cardCount {
    font-size:12px;
}



/* Card Style */

/* Image shadow */

.imageShadow {
    filter: drop-shadow(0px 10px 5px slategrey);
}


/* Buttons */

button {
    font-weight: normal;
}

/* Man Card Component */



@media (max-width: 1024px) {
    .manCard{
        display: flex;
        flex-direction: column-reverse !important;
        width: 100%;
    }
}